:root {
  --primay: black;
  --bg-primay: white;

  --header: #191d4f8c;

  --link: #ffffff;
  --link-active: #ff00c8;

  --ikla: #006ac7;
  --ikla-dark: #0058a3;

  --font-dark: #303030;

  --bg-grad: to right bottom, #b91eda, #a02ae0, #8234e5, #5d3be8, #1241eb;
}

body {
  background-image: linear-gradient(var(--bg-grad));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

p {
  margin: 20px 0px;
}

.header {
  font-size: 3rem;
}

button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 35px;

  background: #845ec2;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  background: var(--bg-primay);
  color: var(--primay);
}

button {
  font-size: calc(10px + 2vmin);
}
